services:
  broker-1:
    image: apache/kafka:latest
    hostname: broker-1
    container_name: broker-1
    ports:
      - 9092:9092
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT,CONTROLLER:PLAINTEXT
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://broker-1:9093
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_GROUP_INITIAL_REBALANCE_DELAY_MS: 0
      KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: 1
      KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 1
      KAFKA_PROCESS_ROLES: broker,controller
      KAFKA_NODE_ID: 1
      KAFKA_CONTROLLER_QUORUM_VOTERS: 1@broker-1:9094
      KAFKA_LISTENERS: PLAINTEXT://:9093,CONTROLLER://:9094,PLAINTEXT_HOST://0.0.0.0:9092
      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
      KAFKA_CONTROLLER_LISTENER_NAMES: CONTROLLER


  postgres:
    image: postgres:18
    container_name: POSTGRE
#    restart: always
    shm_size: 256mb
    environment:
      POSTGRES_USER: ${DATABASE_USERNAME}
      POSTGRES_PASSWORD: ${DATABASE_PASSWORD}
      POSTGRES_DB: ${DATABASE_NAME}
    ports:
      - 5432:5432
    depends_on:
      - broker-1
    volumes:
      - ./postgre_db/database_creation.sql:/docker-entrypoint-initdb.d/database_init.sql
    env_file:
      - .env
    networks:
      - database

#  db-python:
#    image: python:3.12
#    depends_on:
#      - broker-1
#      - postgres-db
#    volumes:
#      - ./postgre_db:/python_code
#      - ./kafka_setup.py:/kafka_setup.py
#    command: /bin/sh -c "/python_code/python_install.sh"

  django-web:
    container_name: DJANGO
    build:
      context: django_web/.
      no_cache: true
    expose:
      - "8000"
    depends_on:
      - broker-1
      - postgres
    environment:
      DJANGO_SECRET_KEY: ${DJANGO_SECRET_KEY}
      DJANGO_SUPERUSER_PASSWORD: ${DJANGO_SUPERUSER_PASSWORD}
      DATABASE_ENGINE: ${DATABASE_ENGINE}
      DATABASE_USERNAME: ${DATABASE_USERNAME}
      DATABASE_PASSWORD: ${DATABASE_PASSWORD}
      DATABASE_HOST: ${DATABASE_PASSWORD}
      DATABASE_PORT: ${DATABASE_PORT}
    env_file:
      - .env
    volumes:
      - static_volume:/app/staticfiles
    networks:
      - llm_chat
      - frontend
      - postgre_network
      - redis_django

  nginx:
    build: ./nginx
    volumes:
      - static_volume:/app/staticfiles
    ports:
      - "8080:8080"
    depends_on:
      - django-web
      - frontend
    networks:
      - frontend


  img_recognition:
    image: python:3.12
    depends_on:
      - broker-1
    volumes:
      - ./image_recognition:/image_recognition
    command: /bin/sh -c "/image_recognition/python_install.sh"

  frontend:
    container_name: FRONTEND
    build: frontend/.
    expose:
      - 5173
    environment:
      HOST: "0.0.0.0"
    networks:
      - frontend



volumes:
  static_volume:

networks:
  frontend:
    driver: bridge
  llm_chat:
    driver: bridge
  ollama_network:
    driver: bridge
  redis_llm:
    driver: bridge
  postgre_network:
    driver: bridge
  redis_django:
    driver: bridge