services:

  postgres:
    image: postgres:18
    container_name: POSTGRE
#    restart: always
    shm_size: 256mb
    environment:
      POSTGRES_USER: ${DATABASE_USERNAME}
      POSTGRES_PASSWORD: ${DATABASE_PASSWORD}
      POSTGRES_DB: ${DATABASE_NAME}
    ports:
      - 5432:5432
    volumes:
      - ./postgre_db/database_creation.sql:/docker-entrypoint-initdb.d/database_init.sql
    env_file:
      - .env
    networks:
      - postgre_network

  django-web:
    container_name: DJANGO
    build:
      context: django_web/.
      no_cache: true
    expose:
      - "8000"
    depends_on:
      - postgres
    environment:
      DJANGO_SECRET_KEY: ${DJANGO_SECRET_KEY}
      DJANGO_SUPERUSER_PASSWORD: ${DJANGO_SUPERUSER_PASSWORD}
      DATABASE_ENGINE: ${DATABASE_ENGINE}
      DATABASE_USERNAME: ${DATABASE_USERNAME}
      DATABASE_PASSWORD: ${DATABASE_PASSWORD}
      DATABASE_HOST: ${DATABASE_PASSWORD}
      DATABASE_PORT: ${DATABASE_PORT}
      REDIS_URL: ${REDIS_URL}
      LLM_URL: ${LLM_URL}
    env_file:
      - .env
    volumes:
      - static_volume:/app/staticfiles
    networks:
      - llm_chat
      - frontend
      - postgre_network
      - redis_django

  nginx:
    build: ./nginx
    volumes:
      - static_volume:/app/staticfiles
    ports:
      - "8080:8080"
    depends_on:
      - django-web
      - frontend
    networks:
      - frontend

#
#  img_recognition:
#    image: python:3.12
#    depends_on:
#      - broker-1
#    volumes:
#      - ./image_recognition:/image_recognition
#    command: /bin/sh -c "/image_recognition/python_install.sh"

  llm:
    image: ubuntu:24.04
    container_name: LLM
    depends_on:
      - ollama
    volumes:
      - ./llm:/LLM
    command: LLM/src/install_and_run.sh
    networks:
      - llm_chat
      - ollama_network
      - redis_llm

  redis:
    image: redis/redis-stack:latest
    container_name: REDIS
    ports:
      - "6379:6379"
    networks:
      - redis_llm
      - redis_django

  ollama:
    image: ollama/ollama
    container_name: OLLAMA
    ports:
      - "11434:11434"
    networks:
      - ollama_network
    environment:
      NVIDIA_DRIVER_CAPABILITIES: all
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: 1
              capabilities: [gpu]


  frontend:
    container_name: FRONTEND
    build: frontend/.
    expose:
      - 5173
      - 8000
    environment:
      HOST: "0.0.0.0"
    networks:
      - frontend
    volumes:
      - ./frontend/src:/frontend/src
      - ./frontend/public:/frontend/public



volumes:
  static_volume:

networks:
  frontend:
    driver: bridge
  llm_chat:
    driver: bridge
  ollama_network:
    driver: bridge
  redis_llm:
    driver: bridge
  postgre_network:
    driver: bridge
  redis_django:
    driver: bridge